{% extends 'base.html' %}
{% block title %}
  Bogo Sort-Integer
{% endblock %}
{% block content %}
  <style>
    .arr-container {
      text-align: center;
      margin-top: 50px;
      background: #000;
    }

    #array-container {
      background-color: black;
      display: inline-block;
      height: 10px;
    }

    .bar {
      display: inline-block;
      background-color: #3498db;
      margin: 0 1px;
      width: 10px;
    }

    button {
      margin-top: 10px;
    }
  </style>

  <div class="container mt-5">
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">HOME</a>
    <a href="{% url 'bogo' %}" class="btn btn-primary mb-3">BOGO HOME</a>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

    {% if data %}
      <p class="mt-3">Given Data: {{ data }}</p>
    {% endif %}

    <div class="arr-container">
      <div id="array-container"></div>
      <br />
      <button onclick="bogoSort()" class="btn btn-primary">Bogo Sort</button>
    </div>

    <h3 class="mt-5">Steps:</h3>
    <ol class="steps-list">
      {% for i in extra_list %}
        <li>{{ i }}</li>
      {% endfor %}
    </ol>
  </div>

  <script>
    let array1 = '{{data}}'
    var array = array1.split(',').map(Number) // Convert strings to integers
    
    function generateArray() {
      const arrayContainer = document.getElementById('array-container')
      arrayContainer.innerHTML = ''
      for (let i = 0; i < array.length; i++) {
        const bar = document.createElement('div')
        bar.classList.add('bar')
        bar.style.height = `${array[i] * 5}px` // Adjust height multiplier as needed
        arrayContainer.appendChild(bar)
      }
    }

    async function bogoSort() {
      const bars = document.querySelectorAll('.bar');
      while (!isSorted(array)) {
        shuffleArray(array);
        for (let i = 0; i < array.length; i++) {
          bars[i].style.height = `${array[i] * 5}px`;
        }
        await new Promise(resolve => setTimeout(resolve, 100)); // Adjust delay as needed
      }
    }

    function isSorted(arr) {
      for (let i = 1; i < arr.length; i++) {
        if (arr[i] < arr[i - 1]) {
          return false;
        }
      }
      return true;
    }

    function shuffleArray(arr) {
      for (let i = arr.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [arr[i], arr[j]] = [arr[j], arr[i]];
      }
    }

    generateArray();
  </script>
{% endblock %}
