{% extends 'base.html' %}
{% block title %}
Bubble Sort
{% endblock %}
{% block content %}

<style>
    /* Custom styles to center content */
    .centered-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Apply background image to the body */
    body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Bubblesort-edited-color.svg/1200px-Bubblesort-edited-color.svg.png');
        background-size: cover; /* Cover the entire viewport */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Do not repeat the background image */
    }
</style>

<div class="centered-container">
    <div class="text-center">
        <div class="mb-3">
            <p>Sort Integers:</p>
            <a href="{% url 'bubble_sort' %}" class="btn btn-primary">Bubble Sort for Integers</a>
        </div>
        <div class="mb-3">
            <p>Sort Strings:</p>
            <a href="{% url 'bubble_sort_string' %}" class="btn btn-primary">Bubble Sort for characters/string</a>
        </div>
    </div>
</div>


{% endblock %}
