{% extends 'base.html' %}
{% block title %}
  Odd Even String Sort
{% endblock %}
{% block content %}
  <style>
    .arr-container {
      text-align: center;
      margin-top: 50px;
      background: #000;
    }

    #array-container {
      display: inline-block;
      height: 10px;
    }

    .bar {
      display: inline-block;
      background-color: #3498db;
      margin: 0 1px;
      width: 10px;
    }

    button {
      margin-top: 10px;
    }
  </style>

  <div class="container mt-5">
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">HOME</a>
    <a href="{% url 'oddeven' %}" class="btn btn-primary mb-3">ODD_EVEN HOME</a>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

    {% if data %}
      <p class="mt-3">Given Data: {{ data }}</p>
    {% endif %}

    <div class="arr-container">
      <div id="array-container"></div>
      <br />
      <button onclick="oddEvenSort()" class="btn btn-primary">Odd-Even Sort</button>
    </div>

    <h3 class="mt-5">Steps:</h3>
    <ol class="steps-list">
      {% for i in extra_list %}
        <li>{{ i }}</li>
      {% endfor %}
    </ol>
  </div>

  <script>
    let array1 = "{{data}}";
    var array = array1.split(''); // Convert string to array of characters

    function generateArray() {
      const arrayContainer = document.getElementById("array-container");
      arrayContainer.innerHTML = "";
      for (let i = 0; i < array.length; i++) {
        const bar = document.createElement("div");
        bar.classList.add("bar");
        // Use ASCII value to represent the height of bars
        bar.style.height = `${array[i].charCodeAt(0) * 5}px`;
        arrayContainer.appendChild(bar);
      }
    }

    async function swap(i, j) {
      let temp = array[i];
      array[i] = array[j];
      array[j] = temp;

      const bars = document.querySelectorAll(".bar");
      let tempHeight = bars[i].style.height;
      bars[i].style.height = bars[j].style.height;
      bars[j].style.height = tempHeight;

      await new Promise(resolve => setTimeout(resolve, 100)); // Adjust delay as needed
    }

    async function oddEvenSort() {
      let sorted = false;
      while (!sorted) {
        sorted = true;
        for (let i = 0; i < array.length - 1; i += 2) {
          if (array[i].charCodeAt(0) > array[i + 1].charCodeAt(0)) {
            await swap(i, i + 1);
            sorted = false;
          }
        }
        for (let i = 1; i < array.length - 1; i += 2) {
          if (array[i].charCodeAt(0) > array[i + 1].charCodeAt(0)) {
            await swap(i, i + 1);
            sorted = false;
          }
        }
      }
    }

    generateArray();
  </script>
{% endblock %}
