<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Odd Even String</title>
  <style>
    
    .container {
      text-align: center;
      margin-top: 50px;
    }

    #array-container {
      display: inline-block;
      height: 10px;
    }

    .bar {
      display: inline-block;
      background-color: #3498db;
      margin: 0 1px;
      width: 10px;
    }

    button {
      margin-top: 10px;
    }
  </style>
</head>

<body>
    <center>
        <a  href="{% url 'home' %}">HOME</a>
        <a  href="{% url 'oddeven' %}">ODD_EVEN HOME</a>
      </center>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
  {% if data %}
  Given Data: {{ data }}<br>
  {% endif %}

  <div class="container">
    <div id="array-container"></div>
    <br>
    <button onclick="oddEvenSort()">Odd-Even Sort</button>
  </div>

  <script>
    let array1 = "{{data}}";
    var array = array1.split(''); // Convert string to array of characters

    function generateArray() {
      const arrayContainer = document.getElementById("array-container");
      arrayContainer.innerHTML = "";
      for (let i = 0; i < array.length; i++) {
        const bar = document.createElement("div");
        bar.classList.add("bar");
        // Use ASCII value to represent the height of bars
        bar.style.height = `${array[i].charCodeAt(0) * 5}px`;
        arrayContainer.appendChild(bar);
      }
    }

    async function swap(i, j) {
      let temp = array[i];
      array[i] = array[j];
      array[j] = temp;

      const bars = document.querySelectorAll(".bar");
      let tempHeight = bars[i].style.height;
      bars[i].style.height = bars[j].style.height;
      bars[j].style.height = tempHeight;

      await new Promise(resolve => setTimeout(resolve, 100)); // Adjust delay as needed
    }

    async function oddEvenSort() {
      let sorted = false;
      while (!sorted) {
        sorted = true;
        for (let i = 0; i < array.length - 1; i += 2) {
          if (array[i].charCodeAt(0) > array[i + 1].charCodeAt(0)) {
            await swap(i, i + 1);
            sorted = false;
          }
        }
        for (let i = 1; i < array.length - 1; i += 2) {
          if (array[i].charCodeAt(0) > array[i + 1].charCodeAt(0)) {
            await swap(i, i + 1);
            sorted = false;
          }
        }
      }
    }

    generateArray();
  </script>

  <h3>Steps:</h3>
  <ol>
    {% for i in extra_list %}
    <li>{{ i }}</li><br>
    {% endfor %}
  </ol>
</body>

</html>
