{% extends 'base.html' %}

{% block title %}
  Selection Sort Integer
{% endblock %}

{% block content %}
  <style>
    .arr-container {
      text-align: center;
      margin-top: 50px;
      background: #000;
    }

    #array-container {
      display: inline-block;
      height: 10px;
    }

    .bar {
      display: inline-block;
      background-color: #3498db;
      margin: 0 1px;
      width: 10px;
    }

    button {
      margin-top: 10px;
    }
  </style>

  <div class="container mt-5">
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">HOME</a>
    <a href="{% url 'selection' %}" class="btn btn-primary mb-3">SELECTION HOME</a>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

    {% if data %}
      <p class="mt-3">Given Data: {{ data }}</p>
    {% endif %}

    <div class="arr-container">
      <div id="array-container"></div>
      <br />
      <button onclick="selectionSort()" class="btn btn-primary">Selection Sort</button>
    </div>

    <h3 class="mt-5">Steps:</h3>
    <ol class="steps-list">
      {% for i in extra_list %}
        <li>{{ i }}</li>
      {% endfor %}
    </ol>
  </div>

  <script>
    let array1 = "{{data}}";
    var array = array1.split(',').map(Number); // Convert strings to integers

    function generateArray() {
      const arrayContainer = document.getElementById("array-container");
      arrayContainer.innerHTML = "";
      for (let i = 0; i < array.length; i++) {
        const bar = document.createElement("div");
        bar.classList.add("bar");
        bar.style.height = `${array[i] * 5}px`; // Adjust height multiplier as needed
        arrayContainer.appendChild(bar);
      }
    }

    function swap(i, j) {
      const temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }

    async function selectionSort() {
      const bars = document.querySelectorAll(".bar");
      for (let i = 0; i < array.length - 1; i++) {
        let minIndex = i;
        bars[i].style.backgroundColor = "red";
        await new Promise(resolve => setTimeout(resolve, 100)); // Adjust delay as needed
        for (let j = i + 1; j < array.length; j++) {
          if (array[j] < array[minIndex]) {
            minIndex = j;
          }
        }
        if (minIndex !== i) {
          await new Promise(resolve => setTimeout(resolve, 100));
          swap(i, minIndex);
          let tempHeight = bars[i].style.height;
          bars[i].style.height = bars[minIndex].style.height;
          bars[minIndex].style.height = tempHeight;
        }
        bars[i].style.backgroundColor = "#3498db";
      }
    }

    generateArray();
  </script>
{% endblock %}
