{% extends 'base.html' %}
{% block title %}
Selection Sort
{% endblock %}
{% block content %}

<style>
    /* Custom styles to center content */
    .centered-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Apply background image to the body */
    body {
        background-image: url('https://example.com/background_image.jpg');
        background-size: cover; /* Cover the entire viewport */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Do not repeat the background image */
    }
</style>

<div class="centered-container">
    <div class="text-center">
        <div class="mb-3">
            <p>Sort Integers:</p>
            <a href="{% url 'selection_sort' %}" class="btn btn-primary">Selection Sort for Integers</a>
        </div>
        <div class="mb-3">
            <p>Sort Strings:</p>
            <a href="{% url 'selection_sort_string' %}" class="btn btn-primary">Selection Sort for Strings</a>
        </div>
    </div>
</div>

{% endblock %}
